#search{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);

    }

    .searchbox{
        margin-bottom: 5px;
    } 
.searchbox .input{
    width: 512px;
    border: 0px;
    height: 50px;
    padding: 0px 25px;
    border-radius: 10px;
    /* box-shadow: 0 0 15px 1px #b6bbc0; */
    outline: none;
    color: #42be11;
    font-size: 20px;
}
    
.searchbtn{
    position: absolute;
    top: 0;
    right: -1px;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 20%;
    cursor: pointer;
}
    
.searchbtn .fas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ff0000;
    font-size: 22px;
    
}

#search select{
    width: 125px;
    height: 30px;
    border-radius: 5px;
    font-size: 12px ;
}

